@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1>@ViewBag.Name</h1>

<h1>@ViewBag.Count</h1>

<p> <h1>@ViewBag.Message</h1> Use this page to detail your site's privacy policy.</p>

<p>@ViewBag.Flag</p>
